:root {
  --primary: #2563eb;
  --primaryLight: #2563eb90;
  --neutral: #0f172a;
  --surface: #fff;
  --surfaceBorder: #e2e8f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto";
  font-weight: bold;
}

/* common classes */

.landing-container {
  max-width: 1280px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

/* buttons */

.btn-primary {
  background-color: var(--primary);
  border: solid 1px var(--primary);
  border-radius: 8px;
  color: var(--surface);
  transition: 0.5s ease;
}

.btn-primary:hover {
  background-color: var(--primaryLight);
}

.btn-ghost {
  background-color: transparent;
  border: none;
  color: var(--primary);
}

.btn-xl {
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
}

/* header section */

header {
  border-bottom: solid 1px var(--surfaceBorder);
}

.header {
  display: flex;
  align-items: center;
  padding: 24px 16px;
}

.text-logo {
  font-weight: bold;
  font-size: 32px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  column-gap: 12px;
  /* background: orange; */
}

nav a {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutral);
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.nav-arrow {
  width: 18px;
  rotate: 90deg;
}

.nav-primary-btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.nav-primary-btn img {
  rotate: 180deg;
  width: 18px;
}

.nav-button-holder {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

@media screen and (max-width: 768px) {
  .text-logo {
    display: none;
  }
}
